@media (min-width:800px) {
    .porjects{
        width: 700px;
      }
      .about{
        width: 700px;
      }
}
.porjects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    height: 80vh;
    margin-left: 320px;
    margin-right: auto;
    font-family: 'Parisienne';
    font-size: 25px;

}
.porjects>div{
    margin-left: 10px;
    width: 97%;
    box-shadow: 60px -16px teal;
    box-shadow: 9px 2px 10px 7px rgba(0,255,255,0.7);  
    font-family: 'Lekton';
    font-size: 20px;

    
  }
  .about{
    justify-content: center;
    width: 60%;
    margin-left: 320px;
    margin-right: auto;
    font-family: 'Parisienne';
    font-size: 25px;

  }
  .about_info{
    font-family: 'Lekton';
    margin-left: 40px;
    width: 60%;
    font-size: 20px;

  }
    .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -200px;
    left: 120%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.343) transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .contact{
    width: 90%;
    height: 450px;
    position: relative;
    margin: auto;
    margin-left: 90px;
    margin-right: 100px;
    margin-top: 50px;
  }

  .contact_cont{
    position: relative;
    margin-left: 162px;
  }
  #whatsup{
    bottom: -10px;
    right: 10px;
    position: absolute;
  }
  .cont_inputs{
    position: absolute;
    top: 100px;
    bottom: auto;
    right: auto;
  }
  .cont_header{
    position: absolute;
    top: 30px;
  }
  .cont_info{
    position: absolute;
    text-align: right;
    width: 90%;
    margin-top: 80px;
    margin-right: 50px;
    z-index: -1;

  }
  .info_img{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 500px;
    overflow: hidden;
  }
  .info{
    font-size: smaller;
    margin-right: -40px;
    width: 230px;
    margin-left: auto;
    direction: ltr;
    text-align: left;
  }




  @media only screen and (max-width:700px) {

    /* .contact{
      background-color: red;
      width: 90%;
      height: 450px;
      position: relative;
      margin: auto;
      margin-left: 90px;
      margin-right: 100px;
    }

    .info_img{
      width: 200px;
      height: 200px;
      margin-top: 20px;
      margin-left: 300px;
      border-radius: 2000px;
      overflow: hidden;
    }
    .info{
      margin-top: 20px;
      margin-left: 300px;
    }
    .porjects{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 60%;
      height: 80vh;
      margin-left: 320px;
      margin-right: auto;
      font-family: 'Parisienne';
      font-size: 25px;
  
  } */
  }