@media (min-width:800px) {
  .porjects{
    width: 60%;
    height: 100vh;
    margin-left: 320px;
    font-size: 35px;

}
.porjects>div{
    margin-left: 10px;
    width: 97%;
  }
  .proj1_cont{
    position: relative;
    height: 360px;
  }
  .proj1_header{
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .proj1_expl{
    position: absolute;
    width: 537px;
    height: 150px;
    right: 0;
    top: 100px;
    background-color: rgb(13, 35, 63);
    font-size: 17px;
    z-index: 2;
    border-radius: 5px;
    text-align: right;
    padding: 13px;
  }
  .proj1_tools{
    position: absolute;
    font-family: 'Lekton';
    color: aquamarine;
    font-size: 18px;
    top: 275px;
    right: 40px;
  }
  .proj1_tools>i{
    cursor: pointer;
  }
  .proj1_tools>i:hover{
    color: white;
  }
  .img_proj1_cont{
    position: absolute;
    width: 650px;
    height: 350px;
    background-image:url(../imgs/porject1.png);
    background-size: contain;
  }
  .proj2_header{
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .proj2_expl{
    position: absolute;
    width: 537px;
    height: 170px;
    left: 0;
    top: 100px;
    background-color: rgb(13, 35, 63);
    font-size: 17px;
    z-index: 2;
    border-radius: 5px;
    text-align: left;
    padding: 13px;
  }
  .proj2_tools{
    position: absolute;
    font-family: 'Lekton';
    color: aquamarine;
    font-size: 18px;
    top: 295px;
    left: 40px;
    z-index:3;
  }
  .proj2_tools>i{
    cursor: pointer;
  }
  .proj2_tools>i:hover{
    color: white;
  }
  .img_proj2_cont{
    position: absolute;
    background-image:url(../imgs/pokemon.png);
    right: 0;
    width: 650px;
    height: 350px;
    background-size: contain;
  }
  .hi{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 249, 175, 0.178);
    background-size: contain;
    cursor: pointer;

  }
  .hi:hover{
    opacity: 0;
  }
  .img_proj{
    width: 650px;
    height: 360px;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    z-index: -1;
  }
  .about{
    width: 60%;
    margin-left: 320px;

  }
  .about_info{
    margin-left: 40px;
    width: 60%;

  }

  .tooltip .tooltiptext {
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    bottom: -200px;
    right: -150%;
  }
  
  .contact{
    width: 100%;
    height: 550px;
    margin-left: 90px;
    margin-right: 100px;
    margin-top: 50px;
    background-color: rgba(149, 148, 147, 0.321);
  }

  .contact_cont{
    margin-left: 292px;
  }
  #whatsup{
    right: 40px;
    top: 240px;
  }
  .cont_inputs{
    top: 150px;
  }
  .cont_header{
    top: 80px;
  }
  .cont_info{
    width: 100%;
    top: 100px;
    right:240px;
  }
  .cont_img_info{
    right: 0;
  }
  .info_img{
    width: 200px;
    height: 200px;
    border-radius: 500px;
  }
  .info{
    width: 230px;
    right: -35px;
    top: 210px;;
  }

}
.porjects{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: auto;
    font-family: 'Parisienne';
    font-size: 35px;

}
.porjects>div{
    font-family: 'Lekton';
    font-size: 20px;

    
  }
  .about{
    justify-content: center;
    margin-right: auto;
    font-family: 'Parisienne';
    font-size: 35px;

  }
  .about_info{
    font-family: 'Lekton';
    font-size: 20px;

  }
    .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
 
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .contact{
    position: relative;
    margin: auto;
  }

  .cont_inputs{
    position: absolute;
    z-index: 3;
  }
  .cont_header{
    position: absolute;
  }
  .cont_info{
    position: relative;
  }
   #whatsup{
    position: absolute;
  }
  .cont_img_info{
    position: absolute;
  }
  .info_img{
    overflow: hidden;
  }
  .info{
    position: absolute;
    font-size: smaller;
    margin-left: auto;
    direction: ltr;
  }
  .textarea{
    max-width: 100%;
    border-radius: 5px;
    resize: none;
   }




  @media only screen and (max-width:800px) {

    .porjects{
      width: 80%;
      height: 100vh;
      margin-left: 80px;
      font-size: 35px;
  
  }
  .porjects>div{
      margin-left: 15px;
      width: 97%;
    }
    .proj1_cont{
      position: relative;
      top: 20px;
      height: 520px;
    }
    .proj1_header{
      position: absolute;
      left: 0px;
      top: -40px;
    }
    .proj1_expl{
      margin-top: 20px;
      background-color: rgb(13, 35, 63);
      font-size: 17.5px;
      z-index: 2;
      border-radius: 5px;
      padding: 15px;
      min-width: 420px;
    }
    .proj1_tools{
      font-family: 'Lekton';
      color: aquamarine;
      font-size: 17px;
      width: 180px;
      margin-top: -30px;
      margin-bottom: auto;
      margin-right: 0px;
      margin-left: auto;
    }
    .proj1_tools>i{
      cursor: pointer;
    }
    .proj1_tools>i:hover{
      color: white;
  
    }
    .img_proj1_cont{
      height: 261px;
      min-width: 420px;
      background-image:url(../imgs/porject1.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .proj2_header{
      position: absolute;
      left: 0px;
      top: -60px;
    }
    .proj2_expl{
      background-color: rgb(13, 35, 63);
      z-index: 2;
      font-size: 17.5px;
      border-radius: 5px;
      padding: 15px;
      min-width: 420px;
    }
    .proj2_tools{
      font-family: 'Lekton';
      color: aquamarine;
      font-size: 17px;
      width: 170px;
      margin-top: -10px;
      margin-bottom: auto;
      margin-right: 0px;
      margin-left: auto;

    }
    .proj2_tools>i{
      cursor: pointer;
    }
    .proj2_tools>i:hover{
      color: white;
  
    }
    .img_proj2_cont{
      height: 261px;
      min-width: 420px;
      background-image:url(../imgs/pokemon.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .hi{
      position: absolute;
      background-size: contain;
      cursor: pointer;
  
    }
    .hi:hover{
      opacity: 0;
      background-color: aliceblue;
    }
    .img_proj{
      top: 0;
      bottom: 0;
      border-radius: 10px;
      z-index: -1;
    }
    .about{
      width: 70%;
      margin-left: 80px;
      margin-right: auto;
  
    }
    .about_info{
      margin-left: 15px;
      width: 100%;

  
    }
    .kern_img{
      width: 350px;
    }
    
    .tooltip .tooltiptext {
      text-align: center;
      padding: 5px 0;
      z-index: 1;
      bottom: 90px;
      left: 17%;
      margin-left: -60px;
    }
    
    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 15px;
      margin-left: -5px;
      border-width: 15px;
      border-style: solid;
      border-color: rgb(0, 255, 170) transparent transparent transparent;
    }
    
    .contact{
      width:100%;
      height: 550px;
      margin-right: 100px;
      margin-top: 50px;
      background-color: rgba(149, 148, 147, 0.321);
    }
  
    .contact_cont{
      margin-left: 92px;
    }
    #whatsup{
      right: 40px;
      top: 240px;
    }
    .cont_inputs{
      top: 150px;
      max-width: 100%;
      
    }
    .cont_header{
      top: 80px;
    }
    .cont_info{
      display: block;
      width: 100%;
      top: 100px;
      right:20px;
    }
    .cont_img_info{
      right: 0;
    }
    .info_img{
      width: 200px;
      border-radius: 500px;
    }
    .info{
      width: 230px;
      right: -35px;
      top: 220px;;
    }
    .textarea{
     max-width: 100%;
     border-radius: 5px;
     resize: none;
    }

   
   
  }
  @media only screen and (max-width:900px) and (min-width:800px) {
    .contact_cont{
      margin-left: 92px;
    }
    .cont_info{
      right:20px;
    }

    .tooltip .tooltiptext {
      text-align: center;
      padding: 5px 0;
      z-index: 1;
      bottom: 90px;
      left: -290px;
      margin-left: -60px;
    }
  }
